body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
  width: 310px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #333;
}

.cell:hover {
  background-color: #eee;
}

#restart {
  padding: 10px 20px;
  font-size: 16px;
}

#mode-select {
  margin: 20px;
}

#mode-select button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

#status-message {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #007bff; /* 使用一個醒目的顏色 */
}
